.Header {
  background-color: white;
  padding: 20px;
  color: #222;
}

.Header-logo {
  animation: fly infinite 3s ease-in-out;
  height: 80px;
}

.Header-title {
  font-size: 1.5em;
}


@keyframes fly {
  0% { transform: translate3d(0,0,0); }
  50% { transform: translate3d(0,-10px,0); }
  100% { transform: translate3d(0,0,0); }
}

